
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
.idea/
/public/styles/css
/logs/
/public/vendor
/tests/phpunit_coverage/
/cache
/public/bundle
.phpunit.result.cache
###< symfony/framework-bundle ###
