
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.test
.env
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
.idea/
/public/styles/css
/logs/
/public/vendor
/tests/phpunit_coverage/
/cache
/public/bundle
/tools
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###
