<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/base.css') }}"/>
    {% endblock %}
</head>
<body>
{% block body %}
    <header>
        <strong>Go to answer #</strong> <input type="text" name="search" >
    </header>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
</body>
</html>